.gapo-avatar {
  display: block;
  background-color: $body-bg;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  background-size: cover;

  &.gapo-avatar--32 {
    width: 2rem;
  }

  &.gapo-avatar--24 {
    width: 1.5rem;
  }

  &.gapo-avatar--56 {
    width: 3.5rem;
  }

  &.gapo-avatar--40 {
    width: 2.5rem;
  }

  &.gapo-avatar--48 {
    width: 3rem;
  }

  &.gapo-avatar--64 {
    width: 4rem;
  }

  &::after {
    content: '';
    padding-top: 100%;
    display: block;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    margin: auto;
  }
}
