.modal--otp {
  .modal-body {
    padding: 2.5rem;

  }

  .modal-dialog {
    max-width: 542px;
    min-height: 642px;
  }
}


.modal--simple {
  button.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
