.title__news{
  background-color:$danger;
  height: 37px;
  padding: 0px 45px 0 15px;
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  &::before{
    content: '';
    width: 20px;
    height: 37px;
    background-image: url("../images/png-icons/icon-flag2.png");
    background-repeat:no-repeat;
    position: absolute;
    right: -19px;
    top:0px;
  }
  &::after{
    content: '';
    width: 7px;
    height: 56px;
    background-image: url("../images/png-icons/icon-flag1.png");
    background-repeat:no-repeat;
    position: absolute;
    left: -3px;
    top:0px;
  }
}

.navbar__right{
  ul{
    li{
      a{
        display: block;
        font-weight: bold;
        width:100%;
        color: $white !important;
      }
    }
  }
}

.navbar__right--2{
  ul{
    li{
      width :48%;
    }
    li+li{
      margin-left:2%;
    }
  }
}
.navbar__right--3{
  ul{
    li{
      width :30%;
    }
    li+li{
      margin-left:2%;
    }
  }
}
.navbar__right--4{
  ul{
    li{
      width :22.5%;
    }
    li+li{
      margin-left:2%;
    }
  }
}
.border-left-radius-20{
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.border-right-radius-20{
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.bg-gray{
  background-color:#4a4a4a;
}

.post-mobi{
  color:$dark;
  background-color: $white;
}
.dark-mode{
  
  a{
    color:$white;
    &:hover{
      color:$gray-400;
    }
 }
 .post-mobi{
  color:$white;
  background-color: #232323;
}
 .gapo-box{
   .gametv-subtitle{
     color:$white;
   }
 }
 .post-item__content{
   color:$white;
 }
}
