.wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 0px;
  overflow: hidden;
}

.wrap:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/gametv/slideShadown.png");
  background-repeat: no-repeat;
  background-position:  center 400px;
}

.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 10px auto 90px auto;
  // max-width: 1144px;
  width: 100%;
  img {
    max-width: 100%;
    width: 100%;
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 60px;
  line-height: 50px;
  margin-top: -30px;
  border: none;
  background: transparent;
  color: #fff;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: 0px;
  text-align: left;
  text-indent: -9999rem;
  background-image: url("../images/png-icons/icon-prev.png");
  background-repeat: no-repeat;
}

.slick-next {
  right: 0px;
  // text-align: right;
  text-indent: -9999rem;
  background-image: url("../images/png-icons/icon-next.png");
  background-repeat: no-repeat;
}



.slick-slide {
  width: 733px;
  height: 426px !important;
  // transition: transform 0s;
  transition: transform 1s;
  position: relative;
  border-radius:20px;
  overflow: hidden;
  >div{
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  transition: transform .4s;
}

// .slick-slide {
//   transform: scale(0.7)  translate(640px);
//   opacity: 0.8;
// }

.slick-slide.slick-center + .slick-slide {
  transform: scale(0.71) translateX(-590px);
  z-index: 10;
  opacity: 0.8;
  // transform: translateX(331px) translateY(4px) scale(.71);

}

// .slick-slide.slick-center + .slick-slide + .item.slick-slide {
//   transform: scale(0.7)  translate(-640px);
//   z-index: 5;
//   opacity: 0.8;

// }

.slick-slide.slick-active {
  transform: scale(0.71) translateX(590px);
  // transform: translateX(-331px) translateY(4px) scale(.71);
  opacity: 0.8;
}

.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  transform: translate(0);
  z-index: 30;
  opacity: 1;
}

.slick-center:after {
  opacity: 0;
}
/* Dots */
.slick-dotted.slick-slider
{
    // margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 56px;
    line-height: 20px;

    position: absolute;
    top: 20;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: $danger;
}
