{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="row justify-content-center">
  <div class="container">
      <div class="section--1">
        <div class="bg_section1">
          <img src="assets/images/landing/section--1.jpg"  alt="">
        </div>
        <a href="#" class="play">
          <img src="assets/images/landing/iconPlay.png"  alt="">
        </a>
        <a href="#" class="btnNhanthuong">
          <img src="assets/images/landing/btnNhanthuong.png"  alt="">
        </a>
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="container">
      <div class="section--2">
        <div class="bg_section2">
          <img src="assets/images/landing/section--2.jpg"  alt="">
        </div>
        <div class="user-info">
          <div class="row align-items-center">
            <div class="col-3 pl-3">Xin chào ,</div>
            <div class="col-5"><strong>Username12345678</strong></div>
            <div class="col-3">
              <a href="#"><img src="assets/images/landing/page02/btn_logout.png"  alt=""></a>
            </div>
          </div>
        </div>
        <div class="list-btn-spin mt-2">
          <ul class="list-unstyled">
            <li><a href="#"><img src="assets/images/landing/page02/btn_history.png"  alt=""></a></li>
            <li><a href="#"><img src="assets/images/landing/page02/btn_rules.png"  alt=""></a></li>
          </ul>
        </div>
        <div class="spin-mobile">
          <div class="vip-item">
            <img src="assets/images/landing/page02/vip1.png"  alt="">
          </div>
          <div class="vip-item">
            <img src="assets/images/landing/page02/vip2.png"  alt="">
          </div>
          <div class="vip-item">
            <img src="assets/images/landing/page02/vip3.png"  alt="">
          </div>
          <div class="vip-item">
            <img src="assets/images/landing/page02/vip4.png"  alt="">
          </div>
          <div class="vip-item">
            <img src="assets/images/landing/page02/vip5.png"  alt="">
          </div>
          <div class="vip-item">
            <img src="assets/images/landing/page02/vip6.png"  alt="">
          </div>
          <a href="#" class="btnNhanthuong">
            <img src="assets/images/landing/btnNhanthuong.png"  alt="">
          </a>
        </div>
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="container">
      <div class="section--3">
        <div class="section-hero swiper-hero">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="wrapper-video">

            </div>
            <img  src="assets/images/kynguyenz/class/xathu.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">

            </div>
            <img  src="assets/images/kynguyenz/class/satthu.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">

            </div>
            <img  src="assets/images/kynguyenz/class/dausy.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">

            </div>
            <img  src="assets/images/kynguyenz/class/thosan.jpg" alt="" class="desktop lazyloaded">
          </div>
        </div>
         <!-- Add Arrows -->
          <div class="swiper-button-next">
            <img  src="assets/images/web/next.png" alt="" class="desktop lazyloaded"/>
          </div>
          <div class="swiper-button-prev">
            <img  src="assets/images/web/prev.png" alt="" class="desktop lazyloaded"/>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination-hero"></div>
        </div>
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="container">
      <div class="section--4">
        <div class="bg_section1">
          <img src="assets/images/landing/section--4.jpg"  alt="">
        </div>
        <div class="swiper-title-2">
          <img src="assets/images/landing/tinhnangnoibat.png"  alt="">
        </div>
        <div class="swiper-container-2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="assets/images/landing/slideshow/image1.jpg"  alt="">
            </div>
            <div class="swiper-slide">
              <img src="assets/images/landing/slideshow/image1.jpg"  alt="">
            </div>
            <div class="swiper-slide">
              <img src="assets/images/landing/slideshow/image1.jpg"  alt="">
            </div>
           
          </div>
        </div>
        <div class="footer_mobi">
          <div class="row">
            <div class="col">
              <a href="#">
                <img src="assets/images/landing/taigame.png"  alt="">
              </a>
            </div>
            <div class="col">
              <a href="#">
                <img src="assets/images/landing/giftcode.png"  alt="">
              </a>
            </div>
            <div class="col">
              <a href="#">
                <img src="assets/images/landing/napthe.png"  alt="">
              </a>
            </div>
            <div class="col">
              <a href="#">
                <img src="assets/images/landing/hotro.png"  alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{# {% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}

 {% include "./components/box-search.njk" %} #}
 {% include "./components/menu-mobi.njk" %}
{# <button onclick="topFunction()" id="backTop" class="btn btn-md btn-danger rounded-circle back-top" title="Go to top">
  <img src ="assets/images/png-icons/icon-up.png" width ="18" />
</button> #}
{% endblock %}
