<div id="boxSearch" class="box-search px-3">
    <form class="card card-sm w-100 ml-auto">
        <div class="card-body row align-items-center w-100">
            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-md form-control-borderless border-radius-05" type="search" placeholder="Nhập từ khoá">
            </div>
            <!--end of col-->
            <div class="col-auto btn-auto">
                <button class="btn btn-md btn-danger border-radius-05" type="submit"><i class="gapo-icon icon-search-alt icon-2x"></i></button>
            </div>
            <!--end of col-->
        </div>
    </form>
</div>