<div class="category px-2">
    <div class="row">
        <div class="col">
            <div class="category__item gapo-box">
                <img class ="mr-1" src = "assets/images/png-icons/cate1.png" height="15" />
                <span class ="category-subtitle">Phim ảnh</span>
            </div>
        </div>
        <div class="col">
            <div class="category__item gapo-box">
                <img class ="mr-1" src = "assets/images/png-icons/cate2.png" height="15" />
                <span class ="category-subtitle">Esport</span>
            </div>
        </div>
        <div class="col">
            <div class="category__item gapo-box">
                <img class ="mr-1" src = "assets/images/png-icons/cate3.png" height="15" />
                <span class ="category-subtitle">Game Gear</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="category__item gapo-box">
                <img class ="mr-1" src = "assets/images/png-icons/cate4.png" height="15" />
                <span class ="category-subtitle">eMagazine</span>
            </div>
        </div>
        <div class="col">
            <div class="category__item gapo-box">
                <img class ="mr-1" src = "assets/images/png-icons/cate5.png" height="15" />
                <span class ="category-subtitle">Cộng đồng</span>
            </div>
        </div>
        <div class="col">
            <div class="category__item gapo-box">
                <img class ="mr-1" src = "assets/images/png-icons/cate6.png" height="15" />
                <span class ="category-subtitle">Khám phá</span>
            </div>
        </div>
    </div> 
</div>