<div class="post-mobi py-3 px-2 mb-2">
    <a href="/details.html" class="w-50 pr-2" ><img class="mr-2 border-radius-05 w-100" src="assets/images/gametv/thumb424x238.jpg" alt="Generic placeholder image"></a>
    <div class="gametv-subtitle mb-2 mt-2"><a href="/details.html" class="" >Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a></div>
    <div class="mb-2">
        <div class="post_sugget border-radius-05">
            <ul class="ul_post_sugget">
                <li><a href="#" >Ba món ăn huyền thoại gắn liền với những game thủ quán Net</a></li>
                <li><a href="#" >Kết quả ESL One Birmingham ngày 30/5: Đòi lại chính nghĩa từ tay "kẻ giả mạo"</a></li>
                <li><a href="#" >Nhà vô địch TI tái phát chấn thương, EHOME sốt vó tuyển người thay thế</a></li>
                <li><a href="#" >Các game thủ cày thuê Rank t#ách đấu ngao ngán nhìn Garena buff sao</a></li>
            </ul>
        </div>
    </div>
    <p>Xưởng quà Moren là tính năng cộng đồng mang tới những phần thưởng hấp dẫn với người chơi ít khi nạp thẻ, đơn cử như: tướng, skin, Khung ảnh hay Điệu nhảy. Game thủ Liên Quân Mobile trải nghiệm tính năng này chỉ cần hoàn thành các nhiệm vụ đơn giản để tích lũy điểm. Khi điểm đạt mức nhất định thì họ sẽ đổi được tướng, skin, khung Avatar và điệu nhảy tướng một cách dễ dàng. Ở máy chủ VN, phần thưởng mà Garena đưa vào Xưởng đều đa phần là các item cũ. Tuy nhiên, giá trị của phần thưởng mà NPH Liên Quân Mobile sẽ trao tặng game thủ nhân dịp 1/6 tới thì không hề cùi.</p>
    <p>Kể từ 31/05 - 14/06/2020, game thủ Liên Quân Mobile khi tham gia tính năng Xưởng quà Moren sẽ nhận về quyền lựa chọn 1 tướng vĩnh viễn (Rương tướng tự chọn) gồm toàn những cái tên hot như Ishar, Yena, Quillen, Y'bneth, Teemee. Ở bản 1.34 hiện tại, Quillen và Yena đều là các tướng đi rừng rất lý tưởng và thâm jchis chúng còn sở hữu skin Sổ Sứ Mệnh mùa 18 (khởi tranh trong tháng 6). TeeMee thì là trợ thủ trong nhóm đầu. Chỉ Y'Bneth và Ishar có vị thế thấp hơn nhưng vẫn phù hợp với những ai muốn sưu tập tướng. Rất nhiều tướng trong số này có giá lên tới 18888 vàng và dịp 1/6 này là thời điểm để game thủ sở hữu FREE chúng.</p>
    <div class="more-info py-2 d-flex w-100  justify-content-between">
        <div class="font-size-small mt-1 d-flex align-items-center">
            <span class="mr-3 d-inline-flex align-items-center"><i class="gapo-icon icon-emotion-alt mr-2"></i> 88</span>
            <span class="mr-3 d-inline-flex align-items-center"><i class="gapo-icon icon-share-alt mr-2"></i> 38</span>
            <span class="mr-3 d-inline-flex align-items-center"><i class="gapo-icon icon-comment-alt mr-2"></i> 68</span>
        </div>
        <div>
            <a>
                <img src ="assets/images/png-icons/icon-chanel.png" height="30px" />
            </a>
            <a>
                <img src ="assets/images/png-icons/icon-fanpage.png" height="30px" />
            </a>
        </div>
    </div>
    
    
    
</div>
