<div class="bg__overlay" id="menu-mobi">
    <div class="menu__wraper w-60">
        <ul class="mobile-menu-list">
            <li class="menu-item active pl-2">
                <a class="menu-item-name" id="menu-1" href="/"><img src="assets/images/landing/iconHome.png" height="16" class="mr-2"  /> TRANG CHỦ</a>
                <div class="close-menu" id="close-menu"><i class="gapo-icon icon-close"></i></div>
            </li>
           
            <li class="menu-item pl-2">
                <a class="menu-item-name" id="menu-1" href="/"><img src="assets/images/landing/iconFanpage.png" height="16" class="mr-2"  /> Fanpage</a>
            </li>
            <li class="menu-item pl-2">
                <a class="menu-item-name" id="menu-1" href="/"><img src="assets/images/landing/iconGroup.png" height="16" class="mr-2"  /> Group</a>
            </li>
           
            </ul>
    </div>
</div>