<h3 class="gapo-title mb-3">Nhập mã xác thực</h3>
<div class="font-size-large mb-4">Vui lòng nhập mã xác thực đã được gửi tới số điện thoại
  <strong>0968889999</strong></div>
<form action="./auth-index.html" class="">
  <div class="form-group">
    <input type="text"
      class="form-control form-control-lg text-center border-top-0 border-left-0 border-right-0 rounded-0 shadow-none"
      placeholder="Nhập mã xác thực">
  </div>
  <div class="font-weight-normal line-height">
    Bạn chưa nhận được mã xác thực? <a href="" class="text-primary">Gửi lại</a>
  </div>
  <div class="text-center mt-4 pt-2">
    <button class="btn btn-primary btn-lg" type="submit">Hoàn thành</button>
  </div>
</form>
