<div class="post-mobi py-3 px-2 mb-2">
    <div class="gametv-subtitle mb-2"><a href="/details.html" class="" >Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a></div>
    <div class="media ">    
        <a href="/details.html" class="w-50 pr-2" ><img class="mr-2 border-radius-05 w-100" src="assets/images/gametv/thumb424x238.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
            <a href="/details.html" class="mt-0 mb-1 font-size-small text-gray-3">Garena đã phạm vào lỗi không đáng có khi lỡ tay xóa những phần thưởng mà game thủ..</a>
            <div class="font-size-small mt-1 text-gray-3"><span class="text-danger"><strong>AOE</strong></span> 30/04/2020 </div>
            <div class="font-size-small mt-1 d-flex align-items-center text-gray-3">
                <span class="mr-3 d-inline-flex align-items-center"><i class="gapo-icon icon-emotion-alt mr-2"></i> 88</span>
                <span class="mr-3 d-inline-flex align-items-center"><i class="gapo-icon icon-share-alt mr-2"></i> 38</span>
                <span class="mr-3 d-inline-flex align-items-center"><i class="gapo-icon icon-comment-alt mr-2"></i> 68</span>
            </div>
        </div>
    </div>
</div>
