<div class="gapo-box">
  <div class="gametv-subtitle timeline__title mb-2 mt-1 text-center text-uppercase">Tin nổi bật</div>
  <div class="navbar__right navbar__right--2">
    <ul class="list-unstyled mt-3 d-block flex-row ">
      <li class="d-inline-flex bg-danger border-right-radius-20"><a href="/details.html" class="text-right px-3 py-2">Tin nóng</a></li>
      <li class="d-inline-flex bg-gray border-left-radius-20"><a href="/details.html" class = "px-3 py-2">Tin mới nhất</a></li>
    </ul>
  </div>
  <ul class="list-unstyled mt-2">
    <li class="media py-2">
      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb100x100.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
        <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
      </div>
    </li>
    <li class="media py-2">
      <a  href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb100x100.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
        <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
      </div>
    </li>
    <li class="media py-2">
      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb100x100.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
        <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
      </div>
    </li>
    <li class="media py-2">
      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb100x100.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
        <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
      </div>
    </li>
  </ul>
</div>
