<div class="gametv-header ">
  <div class="row">
    
    <div class="col col-6">
        <div class="header__logo d-flex  align-items-center justify-content-center ">
            <a href="/" class="header__logo-lightmode"><img src="./assets/images/landing/logo.png"  class="mw-100" height="45" /></a>
        </div>
    </div>
    <div class="col col-3">
        <div class="header__menu d-flex  align-items-end justify-content-center flex-column ">
            <a id="" ><img src="./assets/images/landing/btnFanPage.jpg" class="mw-100" /></a>
        </div>
    </div>
    <div class="col col-3">
        <div class="header__menu d-flex  align-items-end justify-content-center flex-column ">
            <a id=""><img src="./assets/images/landing/btnTaiGame.jpg" class="mw-100" /></a>
        </div>
    </div>
  </div>
</div>