<div class="gametv-navbar ">
  <div class="row justify-content-center">
    <div class="col col-1144 bg-red justify-content-between d-inline-flex align-items-center">
      <div class="navbar-collapse show w-100" >
        <ul class="navbar-nav m-0 p-0 w-100">
          <li class="nav-item active">
            <a class="nav-link icon-home" href="#">
              <span class="icon-nav"></span>
              <span>Home</span>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link icon-aoe dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon-nav "></span>
              <span>Aoe</span>
            </a>
            <div class="dropdown-menu show p-0 m-0" aria-labelledby="navbarDropdown">
              <a class="dropdown-item border-top" href="#">Mobile Legend</a>
              <a class="dropdown-item border-top" href="#">Liên quân Mobile</a>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-fps" href="#">
              <span class="icon-nav "></span>
              <span>FPS</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-moba" href="#">
              <span class="icon-nav "></span>
              <span>Moba</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-sport" href="#">
              <span class="icon-nav "></span>
              <span>Sport</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-rts" href="#">
              <span class="icon-nav "></span>
              <span>RTS</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-online" href="#">
              <span class="icon-nav icon-online"></span>
              <span>Online</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-congnghe" href="#">
              <span class="icon-nav "></span>
              <span>Cộng nghệ</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-giaidau" href="#">
              <span class="icon-nav "></span>
              <span>Giải đấu</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-console" href="#">
              <span class="icon-nav "></span>
              <span>PC/Console</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-video" href="#">
              <span class="icon-nav"></span>
              <span>Video</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link icon-lienhe" href="#">
              <span class="icon-nav "></span>
              <span>Liên hệ</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
