<div class="post-item__stats d-flex">
  <a class="post-item__stats__item mr-auto text-dark" href="/">169,8k thích</a>
  <a class="post-item__stats__item text-dark" href="/">169 bình luận</a>
  <a class="post-item__stats__item text-dark" href="/">169 chia sẻ</a>
</div>
